server {
    listen 80;
    listen [::]:80;
    server_name __DOMAIN__ __BASE_DOMAIN__;

    # ACME challenge for certbot webroot
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://__DOMAIN__$request_uri;
    }
}